

.student_details {
    display:none;
}
.container {
    display: none;
}
.score{
    display: none;
}
.info_box{
    display: none;
}


.display1{
    display: none;
}

.logoutLblPos{

    position:fixed;
    right:10px;
    top:5px;}